* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#nav {
    justify-content: flex-end;
    flex-direction: row;
}

.header-logo {
    justify-content: flex-start;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

a {
    color: inherit;
    text-decoration: none;
    padding-right: 75px;
}

#spec {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#details {
    align-self: center;
    max-width: 50%;
}

table, td, th {
    padding: 10px;
    border: 1px solid black;
}

#otdr {
    padding-top: 20px;
    padding-bottom: 20px;
}

#otdr p {
    padding: 10px 0px 10px 0px;
}

#otdrresult {
    padding-top: 15px;
}

#ilm {
    padding-top: 20px;
    padding-bottom: 20px;
}

#ilm p {
    padding: 10px 0px 10px 0px;
}

#ilmresult {
    padding-top: 15px;
}

#footer {
    padding: 40px 0 40px 0;
}